{% extends "base.html" %}

{% block menu %}
 <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{url_for('home')}}">Home</a></li>
             <li role="presentation"><a href="/profile">Profile</a></li>
            <li role="presentation" ><a href="{{url_for('about')}}">About us</a></li>

            <li role="presentation"><a href="/logout">Logout</a></li>
           
          </ul>
        </nav>
        <h3 class="text-muted">TweetMin</h3>
      </div>
{% endblock %}

{% block content %}
   <!--<div class="alert alert-danger" id='charexceedalert' ></div>-->
   <div class="jumbotron">
        <h2 style="color:#0066ff;">Tweetmin</h2>
      <center>
      <form action="" method="post" style="width:50%; position:relative; ">
        <input type="text" id="tweetbox" onchange="checklength();"class="form-control" name="tweet" placeholder="Tweet" value="{{request.form['tweet']}}">
      <br>
       <input id="tweetpost"class="btn btn-primary btn-sm" type="submit" value="Post">
      </form>
      </center>
      </div>
      <h2>Posts</h2>
       
      {% for post in posts %}
      <div class="jumbotron-mini">
        
      <h3 style="color:#0066ff; ">{{post.author.name}}</h3>
      <h4 style="color:#0066ff; text-align:center;"> {{post.title}}</h4>
      <h4 style=" display:block; position:relative;">{{post.description}}</h4>
      
      </div>

      {% endfor %}
<br>
     
     {% block modals%}
     <script>
/*function checklength(){
var textBox = document.getElementById("tweetbox");
var textLength = textBox.value.length;
if(textLength > 140)
{
  document.getElementById('tweetpost').disabled=true;
  document.getElementById('charexceedalert').innerHTML='<h2>Only 140 Characters allowed</h2>'
    //red
   // textBox.style.backgroundColor = "#FF0000";
}
}
</script>
     {% endblock%}
     
   
{% endblock %}