{% extends "base.html" %}
{% block menu %}
 <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{url_for('home')}}">Home</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">TweetMin</h3>
      </div>
{% endblock %}
{% block content %}
    


      <div class="jumbotron">
        <h2 style="color:#0066ff;">Signup:</h2>
      <br><center>
      <form action="" method="post" style="width:50%; position:relative; ">
      <div class="row">
      <div class="col-md 4">
      </div>
      <div class="col-md 4">
       <input type="text" class="form-control" placeholder="Username" name="uname" value="{{request.form.uname }}"><br>
       <input type="text" class="form-control" placeholder="email" name="email" value="{{request.form.email }}"><br>
         <input type="password" class="form-control" placeholder="Password" name="passw" value="{{request.form.passw }}"><br>
        <input class="btn btn-primary btn-sm" type="submit" value="Signup">
      </div>
      <div class="col-md 4">
      </div>
       
      </form>
      </center>
      <br>
     


</div>


     
    
{% endblock %}
{% block modals %}
<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Signup</h4>
      </div>
      <div class="modal-body">
 <form action="" method="post">
         <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.uname }}"><br>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.uemail }}"><br>
         <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.passw }}"><br>
        <input class="btn btn-default" type="submit" value="signup">
      </form>
      </div>
    
    </div>
  </div>
</div>


{% endblock %}